#define IDD_DLG1 1000
#define IDC_BTN1 2000
#define IDC_STC2 1003
#define IDC_STC3 1004
#define IDC_EDT1 2002
#define IDC_EDT2 2003
#define IDC_STC4 1007
#define IDC_STC5 1008
#define IDC_STC1 1002
#define IDC_EDT3 2001
#define IDC_GRP1 1001
#define IDC_EDT4 1005
#define IDC_STC6 1006
#define IDC_STC7 1009
#define IDC_EDT5 1010
#define IDC_STC8 1011
#define IDC_EDT6 1012
#define IDC_STC9 1013
#define IDC_EDT7 1014
#define IDC_EDT8 1015
#define IDC_STC10 1016
#define IDC_BTN2 1017
#define IDC_BTN3 1018

#include <windows.h>

MAINWIN DIALOGEX 10,10,126,180
CAPTION "Braille ASCII art converter"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "Convert BMP",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,66,153,54,24
  CONTROL "Symbol interval:",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,3,51,9
  CONTROL "Line interval:",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,15,42,9
  CONTROL "1",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,66,0,18,12,WS_EX_CLIENTEDGE
  CONTROL "1",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,66,12,18,12,WS_EX_CLIENTEDGE
  CONTROL "braille dot",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,87,3,33,9
  CONTROL "braille dot",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,87,15,33,9
  CONTROL "Page bgnd color:",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,42,57,9
  CONTROL "#FFFFFF",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,69,39,39,15,WS_EX_CLIENTEDGE
  CONTROL "Only for RGB/BBCode images",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,27,120,120
  CONTROL "[color=#XXXXXX]",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,15,99,93,15,WS_EX_CLIENTEDGE
  CONTROL "Opening BBCode",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,21,87,60,9
  CONTROL "Closing BBCode",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,117,60,9
  CONTROL "[/color]",IDC_EDT5,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,15,126,48,15,WS_EX_CLIENTEDGE
  CONTROL "Endline code",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE,72,117,45,9
  CONTROL "CR/LF",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,72,126,36,15,WS_EX_CLIENTEDGE
  CONTROL "Max RLE error",IDC_STC9,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,72,48,9
  CONTROL "16",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,69,69,39,15,WS_EX_CLIENTEDGE
  CONTROL "#000000",IDC_EDT8,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,69,54,39,15,WS_EX_CLIENTEDGE
  CONTROL "Font fgnd color:",IDC_STC10,"Static",WS_CHILDWINDOW|WS_VISIBLE,15,57,54,9
  CONTROL "Save config",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,165,54,12
  CONTROL "Load config",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,9,153,54,12
END

